02 - AI Email Auto Reply (Gmail Trigger).json
{
  "name": "02 - AI Email Auto Reply (Gmail Trigger)",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional customer support assistant.\n\nRead the customer email below and write a polite, professional reply.\n\nCustomer Email:\n\n{{ $json.snippet }}\n\nKeep the reply under 100 words.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "8ebcc54e-1d83-4a52-8fa3-1090d26b9ee6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        288,
        208
      ],
      "id": "697c4c7b-5b5a-42cd-86f2-94a6a9b7840d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tuCeGpnITXT7tA4l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "n8nnmb@gmail.com",
        "subject": "=AI Auto Reply",
        "message": "={{$json.output}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "27adf277-ee38-4dbc-a219-9d8999aa3274",
      "name": "Send a message",
      "webhookId": "318cc603-e8f8-45ea-bf29-c8b1c9b4152a",
      "credentials": {
        "gmailOAuth2": {
          "id": "3t80rwOn9JNAUstX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "65a2678e-ec77-4564-8f20-5ddce63e1690",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "3t80rwOn9JNAUstX",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3aae1626-bbb4-437a-9079-44f1dcb9dc7b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d7270b772b779d18a23f1ea420944d6534b2c272491151a484e2495c3db7ee7"
  },
  "nodeGroups": [],
  "id": "uqVQfYiq5pFG0RXI",
  "tags": []
}